.wl-comment {
  position: relative;
  display: flex;
  margin-bottom: 0.75em;
  background: white;
  padding: 5px;
}

.wl-close {
  position: absolute;
  top: -4px;
  inset-inline-end: -4px;

  padding: 0;
  border: none;

  background: transparent;

  line-height: 1;

  cursor: pointer;
}

.wl-login-info {
  max-width: 80px;
  text-align: center;
  margin-right: 5px;
}

.wl-logout-btn {
  display: inline-block;
  padding: 3px 8px;
  color: white;
  font-size: 12px;
  background: #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 10px;
}

.wl-avatar {
  display: flex;
  flex-direction: column;
  position: relative;

  width: var(--waline-avatar-size);
  height: var(--waline-avatar-size);
  margin: 0 auto;
  border-radius: var(--waline-avatar-radius);

  @media (max-width: 720px) {
    width: var(--waline-m-avatar-size);
    height: var(--waline-m-avatar-size);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: var(--waline-avatar-radius);
  }
}

.wl-login-nick {
  color: var(--waline-theme-color);
  font-size: 0.75em;
  word-break: break-all;

  line-height: 1.2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 3px;
}

.wl-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex:auto;
  margin: 0;
}

.wl-header {
  display: flex;

  overflow: hidden;

  padding: 0 4px;
  border-bottom: 2px dashed var(--waline-border-color);
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;

  @media (max-width: 580px) {
    display: block;
  }

  label {
    min-width: 40px;
    padding: 0.75em 0.5em;

    color: var(--waline-color);

    font-size: 0.75em;
    text-align: center;
  }

  input {
    flex: 1;

    width: 0;
    padding: 0.5em;

    background: transparent;

    font-size: 0.625em;

    resize: none;
  }
}

.wl-header-item {
  display: flex;
  flex: 1;

  &:not(:last-child) {
    @media (max-width: 580px) {
      border-bottom: 2px dashed var(--waline-border-color);
    }
  }

  .wl-header-1 & {
    width: 100%;
  }

  .wl-header-2 & {
    width: 50%;

    @media (max-width: 580px) {
      flex: 0;
      width: 100%;
    }
  }

  .wl-header-3 & {
    width: 33.33%;

    @media (max-width: 580px) {
      width: 100%;
    }
  }
}

.wl-editor {
  position: relative;

  min-height: 8.75em;
  margin: 0;
  border-radius: 0;
  background: transparent;
  border: 1px lightgray solid;
  outline: none;

  font-size: 0.875em;

  resize: vertical;
}

.wl-editor::placeholder{
  color: lightgrey;
}

.wl-preview {
  padding: 0 0.5em 0.5em;

  h4 {
    margin: 0.25em;
    font-weight: bold;
    font-size: 0.9375em;
  }

  .wl-content {
    min-height: 1.25em;
    padding: 0.25em;
    word-break: break-word;
    hyphens: auto;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.wl-footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  justify-content: flex-end;
}

.wl-actions {
  display: none;
  visibility: hidden;
  flex: 2;
  align-items: center;
}

.wl-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 1.5em;
  height: 1.5em;
  margin: 2px;
  padding: 0;
  border: none;

  background: transparent;
  color: var(--waline-color);

  font-size: 16px;

  cursor: pointer;

  &:hover {
    color: var(--waline-theme-color);
  }

  &.active {
    color: var(--waline-active-color);
  }
}

#wl-image-upload {
  display: none;

  &:focus + label {
    color: var(--waline-color);
  }

  &:focus-visible + label {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.wl-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .wl-text-number {
    color: var(--waline-info-color);
    font-size: 0.75em;

    .illegal {
      color: #f00;
    }
  }

  button {
    margin-inline-start: 0.75em;

    svg {
      display: block;
      margin: 0 auto;
      line-height: 18px;
    }
  }
}
